<div>
  <div>
    <h1>Seccion de Administracion</h1>
    <h2>Crear User</h2>

    <%= form_with(model: @user,url:admin_index_path,method: :post) do |f| %>
      <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder:"Email",autocomplete: "email" %>
      </div>
      <br/>
      <div class="field">
      <%= f.label :rol %>
      <%= f.select(:role, User.roles.keys.map { |w| [w]  }) %>
    </div>
    <br/>
      <div class="field">
      <%= f.label :Password %>
      <%= f.password_field :password, placeholder:"Password" %>
      </div>
      <br/>
      <%= f.label :Confirmacion %>
      <%= f.password_field :password_confirmation, placeholder:"Confirmacion de Password" %>
      <br/>
      <br/>
      <%= f.submit "Crear Usuario",:class=>"btn btn-success"%>
      <% end %>
    


  </div>

  <p></p>

  <h1>Listado de usuarios actuales</h1>
  <span></span>
  <div class="container">
    <% @users.each do |user| %>

    <div class="row align-items-start">
      <div class="row">
        <div class="col">
          <h2>Email</h2>
          <%= user.email %>
        </div>
        
        <div class="col">
          <h2>Rol</h2>          
          <%= form_for(user,url:admin_path(user),remote:true , method: :patch) do |f| %>
            <%= f.select(:role, User.roles.keys.map { |w| [w]  }) %>
            <%= f.submit "Update Role" , :class=>"btn btn-warning" %>
          <% end %>
        </div>
      </div>
    </div>

    <%end %>
  </div>
</div>
