<%= stylesheet_link_tag 'producto', media: 'all', data: { turbolinks: false } %>
<div class="w-full">
  
    <div class="mx-auto">
      <% if notice.present? %>
      <p
        class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"
        id="notice"
      >
        <%= notice %>
      </p>
      <% end %>
      <div class="flex justify-between items-center">
        <h1>Detalle de Venta</h1>
        
        <%= link_to "Volver a Listado de Ventas", purchases_path, class:
        "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      </div>
      <div id="purchases" class="min-w-full">        
        <%= render @purchase %>
        

        <div class="edit-buttons">
          <%= link_to "Editar Venta", edit_purchase_path(@purchase),
          class:"button-edit btn-success" %>
          <div class="inline-block ml-2">
            <%= button_to "Eliminar Venta", @purchase, method: :delete,
            data: { confirm: "¿Estás seguro de que deseas eliminar esta venta?" },
            class:"btn btn-danger"%>            
          </div>
        
      </div>
    </div>
  </div>
</div>
