<%= form_with(model: producto) do |form| %>
  <% if producto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
        <% producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="form-group">
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

 
  <div class="form-group">
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div class="form-group">
    <%= form.label :imagenes, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="form-group">
    <%= form.label :precio_unitario, style: "display: block" %>
    <%= form.text_field :unit_price %>
  </div>

  <div class="form-group">
    <%= form.label :stock, style: "display: block" %>
    <%= form.number_field :stock %>
  </div>

  <div class="form-group">
    <%= form.label :categoria, style: "display: block" %>
    <%= form.text_field :category %>
  </div>

  <div class="form-group">
    <%= form.label :talle, style: "display: block" %>
    <%= form.text_field :size %>
  </div>

  <div class="form-group">
    <%= form.label :color, style: "display: block" %>
    <%= form.text_field :color %>
  </div>

  <div class="form-group " style="margin-top:10">
    <%= form.submit "Guardar" ,class:"btn btn-success"%>
  </div>
  
<% end %>
