<%= stylesheet_link_tag 'producto', media: 'all', data: { turbolinks: false } %> 

<div id="<%= dom_id producto %>">
  
  <p> 
    <strong> Nombre: 
    <%= producto.name %>
  </strong>
  </p>
  <p>        <div class="products">
    <% producto.images.each do |image| %>    
    <div class="products-items product-image">
      <%= image_tag image%>
      <!-- <div><%= link_to image.filename%></div> -->
    </div>
    <% end %>  
  </div>    
  </p> 
  
  <p style="text-align: center;">
    <strong>Descripcion:</strong>
    <%= producto.description%>
  </p>
  <p style="text-align: center;">
    <strong>Precio:</strong>
    <%= number_to_currency producto.unit_price%>
  </p>

</div>



