
<%= stylesheet_link_tag 'producto', media: 'all', data: { turbolinks: false } %> 

<div class="edit-product">
  
  <div class="product-show-btn">
    
  <%= link_to "Volver a lista de productos", productos_path%> 
  </div>
  <%= render @producto %>
  <%= link_to "Comprar", "/#" , class:"btn btn-warning font-semibold text-xl"%>
  <div class="edit-buttons">
    <% if current_user %>
    <%= link_to "Editar producto", edit_producto_path(@producto) ,class:"button-edit btn-success" %> |
    
    <%= button_to "Eliminar producto", @producto, method: :delete ,class:"btn btn-danger"%>
  <% end %>
</div>
</div>
