<%= stylesheet_link_tag 'application', media: 'all', data: { turbolinks: false } %> 
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Avivas" %></title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= stylesheet_link_tag "tailwind","inter-font","data-turbo-track":"reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>        
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>    
  </head>

  <body class="prose mx-auto" >
    <%= render '/layouts/navbar' %>
    <%= link_to(image_tag("avivas_logo_white.png"),"/") %>        
    <main class="container-fluid mx-auto flex">
      <%= yield %>
    </main>
   
  </body>
</html>
